@tailwind base;
@tailwind components;
@tailwind utilities;



@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

/* body {
	display: flex;
	background: #000;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
} */

.content {
	position: relative;
}

.content h4 {
	color: #eadbdb;
	font-size: 60px;
	position: absolute;
	transform: translate(-50%, -50%);
}

.content h4:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 1px rgb(5, 24, 11);
}

.content h4:nth-child(2) {
	color:rgb(55, 239, 209);
	animation: animate 3s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}




/* button style */

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
/* body {
  background: #2D3142;
  font-family: 'Raleway', sans-serif;
} */


.container {
  width: 100%;
  margin: 0 auto;
  padding: 50px 0 150px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #BFC0C0;
  margin: 20px 20px 20px 20px;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#button-2 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#slide {
  width: 100%;
  height: 100%;
  left: -200px;
  background: #BFC0C0;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
}


#button-2 a {
  position: relative;
  transition: all .35s ease-Out;
}
a {
  color: #BFC0C0;
  text-decoration: none;
  letter-spacing: 1px;
}

